<mat-card>
<form >
    <div class="col-lg-12" *ngFor="let q of controlQuestion.value.controls">
        <div *ngIf="q.component == 'applicant-name' " class="form-group form-inline">
            <app-applicant-name [(stepControl)]="stepControl" ></app-applicant-name>
        </div>

        <div *ngIf="q.component == 'domestic-address' " class="form-group form-inline">
            <app-domestic-address [(stepControl)]="stepControl"></app-domestic-address>
        </div>

        <div *ngIf="q.component == 'replacement' " class="form-group form-inline">
            <app-replacement></app-replacement>
        </div>

    </div>
    <!--
      <mat-card-actions>
          <button mat-raised-button matStepperNext class="nav-btn">Next</button>
      </mat-card-actions>
    -->
    <mat-card-actions>
        <button *ngIf="controlQuestion.value.prev" mat-raised-button matStepperPrevious >Back</button>
        <button *ngIf="controlQuestion.value.next" mat-raised-button matStepperNext (click)="goNext()">Next</button>
    </mat-card-actions>

</form>
</mat-card>
