<mat-card>
<form >
    <div class="col-lg-12" *ngFor="let q of controlQuestion.value.controls">
        <div class="form-group form-inline">
            <app-form-step [(stepControl)]="stepControl" [componentName]="q.component"></app-form-step>
        </div>
    </div>
    <!--
      <mat-card-actions>
          <button mat-raised-button matStepperNext class="nav-btn">Next</button>
      </mat-card-actions>
    -->
    <mat-card-actions>
        <button *ngIf="controlQuestion.value.prev" mat-raised-button matStepperPrevious >Back</button>
        <button *ngIf="controlQuestion.value.next" mat-raised-button matStepperNext (click)="goNext()">Next</button>
    </mat-card-actions>

</form>
</mat-card>
