/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    padding: 2em 15em;
    background:lightgray;
}

.example-spacer {
    width: 100%;
    }

.table-form-full-width {
    max-width: 80em;
    min-width: 45em;
    width: 100%
}

table.table-form-main { 
    border-spacing: 5px;  /* cellspacing */
}

table.table-form-main th, td { 
    padding: 15px; /* cellpadding */
}

.control-full-width {
    width: 100%;
}

.control-med-width {
    width: 50%;
}
.mat-grid-tile {
    padding: 50px
}